@font-face {
    font-family: header;
    src: url(../CSS/fonts/Playball.ttf);
}
@font-face {
    font-family: tech;
    src: url(../CSS/fonts/ShareTech-Regular.ttf);
}

/* header */
header {
    background-color: #e4dad5;
    color: rgb(46, 46, 46);
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
header h1 {
    font-family: header, cursive;
    font-weight: 900;
    font-size: 68px;
    margin: 0 auto;
    text-align: center;
}
header h2 {
    font-size: 34px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
}


nav {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    border-radius: 15px;
    margin: 10px 20px;
    background-color: rgba(255, 255, 255, 0.495);
}

button:hover {
    background-color: rgb(116, 116, 116);
    color: white;
    border-color: white;
    transition: 0.5s;
}

button:active {
    background-color: blue;
}


/* body */
body {
    background-color: rgb(46, 46, 46);
    margin: 0 auto;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.skills {
    font-size: 32px;
    font-family: tech, sans-serif; 
    margin: 0 auto;
    width: 50%;
}

.frontend {
    background-color: rgb(0, 149, 255);
    margin: 20px 0 20px 25%;
    padding: 0 13px;
}

.backend {
    background-color: rgb(234, 0, 255);
    margin: 20px 25% 20px 0; 
    

}

.tools {
    background-color: rgb(0, 255, 30);
    margin: 20px 0 20px 25%;
    padding: 0 13px;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 32px;
}

ul{
    text-align: left;
    list-style-position: inside;
    padding-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img img {
    padding-top: 1em;
    max-width: 25%;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/*about me*/

.about-me-header {
    background-color: #9dc78887;
    color: rgb(67, 37, 37);
}

.about-me-header hr { 
    width: 7.7em;
    border: 1px solid black;
}

ol{
    text-align: left;
    list-style-position: inside;
    padding-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* contact */

.contact-header {
    background-color: #9dc78887;
    color: rgb(67, 37, 37);
}
.contact-header hr {
    width: 15.6em;
    border: 1px solid rgb(67, 37, 37);
}

.contact p {
    text-align: left;
    padding-left: 30%;
}

/* footer */

footer {
    background-color: #d4b9ab;
    height: 3em;
    text-align: right;
    padding-top: .1em;
    width: 100%
}

footer p {
    padding-right: 2em;
}