@font-face {
    font-family: header;
    src: url(../CSS/fonts/Playball.ttf);
}
@font-face {
    font-family: tech;
    src: url(../CSS/fonts/ShareTech-Regular.ttf);
}

/* header */
header {
    background-color: #e4dad5;
    color: rgb(46, 46, 46);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
}
header h1 {
    font-family: header, cursive;
    font-weight: 900;
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
}
header h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
}

nav {
    margin: 0 auto;
}

a {
    text-decoration: none;
    margin: 0 15px;
}



/* body */
body {
    background-color: rgb(46, 46, 46);
    margin: 0 auto;
}

article {  
    margin: 0 auto;
}

.pandt {
    display:flex;
    flex-direction: row;
    color: white;
    font-size: 32px;
    width: 100%;
    max-width: 100%;
}

.img img {
    width: 80%; 
    height: auto; 
    max-width: 100%; 
}

.text {
   
    align-self: center;
}
.skills {
    font-size: 32px;
    font-family: tech, sans-serif; 
    
    color: white;
    display: flex;
    justify-content:space-evenly;
}



ul {
    list-style-type: square;
}

.frontend ul ::marker {
    color: rgb(0, 255, 30);
}

.backend ul ::marker{
    color: rgb(234, 0, 255);
}



.tools ul ::marker {
    color: rgb(0, 149, 255);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}





/* footer */

footer {
    background-color: #d4b9ab;
    text-align: right;
    width: 100%;
    box-sizing:border-box;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    padding-right: 2em;
}

@media (max-width: 768px) {
    .pandt {
        flex-direction: column;
    }
    .img img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }  
    .text {
        text-align: center;
    }  
}

