@font-face {
    font-family: header;
    src: url(../CSS/fonts/Playball.ttf);
}
@font-face {
    font-family: tech;
    src: url(../CSS/fonts/ShareTech-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

/* header */
header {
    background-color: #e4dad5;
    color: rgb(46, 46, 46);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}
header h1 {
    font-family: header, cursive;
    font-weight: 900;
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
}
header h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
    margin: 0px;
}

nav {
    margin: 0 auto;
}

a {
    text-decoration: none;
    margin: 0 15px;
}



/* body */
/* intro */
body {
    background-color: rgb(46, 46, 46);
}


.pandt {
    display:flex;
    flex-direction: row;
    color: white;
    font-size: 32px;
    justify-content: space-evenly;
}

.img img {
    width: 80%; 
    height: auto; 
    max-width: 100%; 
}

.text p{
text-align: left;}
.skills {
    font-size: 32px;
    font-family: tech, sans-serif; 
    color: white;
    display: flex;
    justify-content:space-between;
}



ul {
    list-style-type: square;
}

.frontend ul ::marker {
    color: rgb(0, 255, 30);
}

.backend ul ::marker{
    color: rgb(234, 0, 255);
}

.tools ul ::marker {
    color: rgb(0, 149, 255);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* projects */ 

.projects h2, p {
    color: white;
    text-align: center;
}

.projects a:visited {
    color: inherit;
}

.project-items {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.project-items ion-icon {
    font-size: 2.5em;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    width:20%;
    flex-wrap:wrap;
}
.container h3 {
    height: 64px; 
}

.title {
    align-self: center;
    width: 50%;
    transition: color .5s;
}

.icon {
    margin: 0 auto; 
}

.icon:hover {
    background: linear-gradient(to bottom right, rgb(67, 67, 67), rgb(35, 35, 35));
}

.restaurant {
    background: linear-gradient(to bottom right, #ffee00, #ff5500);
}

.restaurant:hover {
    background-image: url(./Images/project-images/Restaurant.PNG);
    background-size: cover;
    background-position: center;
}

 .restaurant-color:hover {
    animation: restaurant 1s infinite alternate;
}

@keyframes restaurant {
    0% {
        color: white; /* Initial color */
    }
    50% {
        color: #ffee00; /* Intermediate color */
    }
    100% {
        color: #ff5500; /* Final color */
    }
}

.restaurant:hover .content {
    opacity: 0; 
}


.movies {
    background: linear-gradient(to bottom right, #ff2a00, #e100ff);
}

.movies:hover {
    background-image: url(./Images/project-images/movies.PNG);
    background-size: cover;
    background-position: center;
}


.movies:hover .content {
    opacity: 0; 
}

.movie-color:hover {
    animation: movie 1s infinite alternate;
}

@keyframes movie {
    0% {
        color: white; /* Initial color */
    }
    50% {
        color: #ff2a00; /* Intermediate color */
    }
    100% {
        color: #e100ff; /* Final color */
    }
}

.flashcard {
    background: linear-gradient(to bottom right, #5500ff, #00a6ff);
}

.flashcard:hover {
    background-image: url(./Images/project-images/flashcard.PNG);
    background-size: cover;
    background-position: center;
}

.flashcard:hover .content {
    opacity: 0; 
}

.flashcard-color:hover {
    animation: flashcard 1s infinite alternate;
}

@keyframes flashcard {
    0% {
        color: white; /* Initial color */
    }
    50% {
        color: #5500ff; /* Intermediate color */
    }
    100% {
        color: #00a6ff; /* Final color */
    }
}

.recipe {
    background: linear-gradient(to bottom right, #00ffea, #91ff00);
}

.recipe:hover {
    background-image: url(./Images/project-images/recipe.PNG);
    background-size: cover;
    background-position: center;
}

.recipe:hover .content {
    opacity: 0; 
}

.recipe-color:hover {
    animation: recipe 1s infinite alternate;
}

@keyframes recipe {
    0% {
        color: white; /* Initial color */
    }
    50% {
        color: #00ffea; /* Intermediate color */
    }
    100% {
        color: #91ff00; /* Final color */
    }
}

.restaurant,
.movies,
.flashcard,
.recipe {
    flex: 1;
    align-content: center;
}
/* contact */

.contact {
    margin-top: 64px;
}

.contact h2 {
    text-align: center;
    color: white;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 48px;
    margin: 0;
}

.contact-icons p {
    font-size: 24px;
    margin-bottom: 28px;
}

/* footer */

footer {
    background-color: #d4b9ab;
    width: 100%;
    box-sizing:border-box;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    padding-right: 2em;
    text-align: right;
}

footer nav {
    text-align: center;
}

/*responsiveness*/

@media (max-width: 768px) {
    .pandt {
        flex-direction: column;
        text-align: center;
    }
    .img img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }  
    .text p {
        text-align: center;
        max-width: 100%; 
    }
    .skills {
        flex-direction: column;
    } 
    ul {
       list-style-type: none;
       padding-left: 0; 
    }
    .frontend {
        color:rgb(0, 255, 30);
    } 
    .backend {
        color: rgb(234, 0, 255);
    }
    .tools {
        color: rgb(0, 149, 255);
    }
    .frontend h3,
    .backend h3,
    .tools h3 {
        text-decoration: underline;
    }
    .project-items {
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
    .container .content, h3, a {
        font-size: x-large;
    }

}